.page_404 {
    padding: 20px;
    background: #fff;
    font-family: "Arvo", serif;
  }
  
  .page_404 img {
    display:block;
    margin:auto;
    width: 40%;
  }




/*
.page-error{
    background: #ffff;
    padding: 20px;
    font-family: "Arvo","Helvetica neue";
}

.page-error imp{
    display: block;
    margin: block;
    width: 40%;
}
*/